{% load i18n staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{{config.NAME}} - {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" href="{% static "zinnia_bootstrap/bootstrap/css/bootstrap.min.css" %}" />
    <style type="text/css">
      body {
        padding-top: 70px;
      }
      body > nav img {
        margin-top: 5px;
        margin-left: 10px;
      }
      p.entry-discussions {
        margin-bottom: 0px;
      }
    </style>
    <!--[if lt IE 9]>
        <script src="{% static "zinnia_bootstrap/assets/js/html5shiv.js" %}"></script>
        <script src="{% static "zinnia_bootstrap/assets/js/respond.min.js" %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static "zinnia/img/favicon.ico" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-144-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-114-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-72-precomposed.png" %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-57-precomposed.png" %}" />
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}


  </head>
  <body class="zinnia {% block body-class %}{% endblock body-class %}">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static "zinnia_bootstrap/img/zinnia.png" %}" class="pull-left" alt="Zinnia's Weblog" />
          <a href="{% url 'zinnia:entry_archive_index' %}" title="Zinnia's Welog" class="navbar-brand" rel="home">
            {{config.NAME}}
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <form method="get" action="{% url 'zinnia:entry_search' %}" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="search-query form-control" placeholder="{% trans 'Search' %}" name="pattern" value="{{ pattern }}" />
            </div>
            <button type="submit" name="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-search"></span>
            </button>

            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal">
              Envía un vídeo
            </button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            {% url 'zinnia:sitemap' as sitemap_url %}
            <li {% if sitemap in request.path %}class="active"{% endif %}>
            <li>
              <a href="{{ sitemap_url }}" title="{% trans "Sitemap" %}" class="sitemap">
                {% trans "Sitemap" %}
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="{% url 'zinnia:entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
                {% trans "RSS Feed" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block slider %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed col-xs-12 col-sm-8 col-md-8 col-lg-8">
          {% block content %}
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock content %}
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
        </div>
        <!-- Button trigger modal -->
      </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Comparte un video</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/contribute/" method="POST">
                {% csrf_token %}
              <div class="form-group">
                <label for="titleyoutube">Título</label>
                <input type="text" class="form-control" id="titleyoutube" name="titleyoutube" placeholder="Título" />
              </div>
              <div class="form-group">
                <label for="urlyoutube">Url de youtube</label>
                <input type="url" class="form-control" id="urlyoutube" name="urlyoutube" placeholder="https://www.youtube.com/watch?v=G2V6WCOmuJI" />
                <input type="hidden" id="idyoutube" name="idyoutube" />
              </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary" disabled="disabled" id="enviaryoutube">Enviar</button>
            </div>
            </form>
              <div id="youtubeiframe">
              </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <footer class="container">
      <p><a href="{{config.LINK_FOOTER}}">{{config.MESSAGE_FOOTER}}</a></p>
    </footer>
    <script type="text/javascript" src="{% static "zinnia_bootstrap/assets/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "zinnia_bootstrap/bootstrap/js/bootstrap.min.js" %}"></script>

        <script type="text/javascript">
        $(document).ready(function(){

            function checkEnableSend(){
                if (enable_title && enable_youtube){
                    $('#enviaryoutube').prop('disabled', false);
                }else{
                    $('#enviaryoutube').prop('disabled', true);
                }
            }

            function ytVidId(url) {
              var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
              return (url.match(p)) ? RegExp.$1 : false;
            }

            youtubeid = false;
            youtubeid_loaded = false;

            enable_title = false;
            enable_youtube = false;


              $("#titleyoutube").bind({
                'paste keyup click' : function(){
                    titleyoutube = $('input[id=titleyoutube]').val();
                    if (titleyoutube.length > 5) {
                        enable_title = true;
                    }else{
                        enable_title = false;
                    }
                    checkEnableSend();
                }
            });

            $("#urlyoutube").bind({
                'paste keyup click' : function(){
                    youtubeid =  ytVidId( $('input[id=urlyoutube]').val());
                    if (youtubeid) {
                        youtubehtml = "<div class='embed-responsive embed-responsive-16by9'><iframe width='100%' height='300px' class='embed-responsive-item' src='//www.youtube.com/embed/" + youtubeid + "' frameborder='0' allowfullscreen></iframe></div>";
                        youtubeid_new = youtubeid;
                        if (youtubeid_new != youtubeid_loaded){
                            $('#youtubeiframe').html(youtubehtml);
                            youtubeid_loaded = youtubeid_new;
                            $('#idyoutube').val(youtubeid_loaded);
                            enable_youtube = true;
                        }
                    }else{
                        youtubehtml = "";
                        $('#youtubeiframe').html(youtubehtml);
                        youtubeid_loaded = false;
                        enable_youtube = false;
                    }
                    checkEnableSend();
                }
            });

        });
    </script>

  </body>
</html>